extends layout

block content
  h1= title
  p Node.js is an open source, cross-platform runtime exvironment for server-side and networking applications.
  p Express is a Node.js web application that provides a robust set of features for web and mobile applications.